<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">CarRental_000115775</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <a class="nav-link active" aria-current="page" routerLink="customers">Customers</a>

        <a class="nav-link active" aria-current="page" routerLink="cars">Cars</a>

        <button class="add-buttons-nvm">
          <a class="nav-link active" aria-current="page" routerLink="customers/add">Add Customers</a>
        </button>

        <button class="add-buttons-nvm">
          <a class="nav-link active" aria-current="page" routerLink="cars/add">Add Cars</a>
        </button>
        
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- 00015775 -->